.section{
display: flex;
justify-content: center;
min-height: 50dvh;
align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
box-shadow: 0 0 20px 5px #cccccc10;
padding: 20px;
border-radius: 10px;
}

.wrapper{
display: flex;
}

.wrapper:nth-child(2){
    align-items: center;
}

input{
    padding: 10px 30px;
    border: none;
    outline: 0;
    background-color: #ccc;
}

input[type='text']{
    width: 500px;
    font-size: 20px;
    
}

button{
    padding: 5px 30px;
    border: none;
    outline: 0;
    background-color: darkgreen;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

button:hover{
    color: darkgreen;
    background-color: #fff;
}

label{
    margin-right: 10px;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
}

input,button{
    cursor: pointer;
}